h1{
  text-decoration-line: underline;
  text-align: center;
  border:2px DarkOrchid;
  Background-color: #5a5675;
  color: Black;
  font-family: "Garamond", serif;
}

h2{ 
   border:2px DarkOrchid;
   text-align: center;
   color: Black;
   font-family: "Garamond", serif;
  }

.image-center{
  display:inline-block;
  text-align: center;
  width: 100%;
  
}

body{ 
background-color: #b1adc9; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
   background-color: #5a5675;
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
  background-color: #FFF0F5;
}

.active {
  background-color: #fe218b;
}

li.dropdown {
  display: inline-block;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eca0ff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  bottom: 100%
}
